html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.loading {
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  padding: 25px;
  border-radius: 100px;
  box-shadow: 0px 0px 20px rgb(255,255,255);
  animation: expand 1200ms infinite;
}
.loading-logo {
  max-width: 100%;
  max-height: 100%;
  color: rgb(255,0,0);;  
}
@keyframes expand {
	from {
		padding: 25px;
	}
	to {
		padding: 50px;
    box-shadow: 0px 0px 30px rgb(255,0,0);
	}
}