body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: rgb(255 193 203);
}

#loveForm {
    margin-bottom: 20px;
}

#lovePercentage {
    display: none;
}

#heart {
    font-size: 48px;
    color: red;
    display: none;
}

#loveImageContainer {
    margin-top: 20px;
}

#loveImage {
    width: 400px;
    height: 200px;
}

#shareButton {
    opacity: 0;
}